<div class="main-container">
  <app-start-screen *ngIf="!gameRunning"
    [roomCode]="roomCode" 
    [controllerConnected]="controllerConnected"
    [qrCodeUrl]="qrCodeUrl"
    (createRoom)="createRoom()">
  </app-start-screen>

  <app-game-view *ngIf="gameRunning"
    [carPosition]="carPosition"
    [carSpeed]="carSpeed"
    [roadOffset]="roadOffset"
    [roadSpeed]="roadSpeed"
    [obstacles]="obstacles"
    [gameRunning]="gameRunning"
    [gameOver]="gameOver"
    [elapsedTime]="elapsedTime"
    [currentSpeed]="currentSpeed">
  </app-game-view>
</div>