:host {
  font-family: 'Inter', sans-serif;
  display: block;
}

.container {
  height: 100vh;
  background: linear-gradient(135deg, #1a1a1a, #000000);
  color: white;
  overflow: hidden;
  user-select: none;
}


